@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body,html{
    background-color: white;
    color:black;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
}
.white{
    background-color: white;
    color:black;
}